:root {
  --keyboard-bg: #001c24;
  --keyboard-key: #036079;
  --keyboard-text: #eeeeee;
}

html, body {
  position: fixed;
  overflow: hidden;
  margin: 0;
}

#keyboard-wrapper {
  position: absolute;
  width: 100%;
  z-index: 2;
  background: transparent;

  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18pt;
  font-weight: bold;

  color: var(--keyboard-text);
  bottom: 0;

  display: flex;
  justify-content: center;
}

#keyboard {
  background-color: var(--keyboard-bg);
  padding: 4px;
  border-radius: 4px;
}

#keyboard .keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
}

#keyboard .keyboard-key {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  
  width: 76px;
  height: 118px;
  border-radius: 4px;
  margin: 2px;

  background-color: var(--keyboard-key);

  display: flex;
  justify-content: center;
  align-items: center;
}

#keyboard .keyboard-key.large {
  width: 118px;
}